<mat-toolbar class="primary-bg">


  <a mat-button [routerLink]="appRoutes.BookList" class="secondary-color">Books</a>

  <span class="example-spacer"></span>
  <a mat-button [routerLink]="appRoutes.MyBookList" class="secondary-color">My Lists</a>
  <span class="example-spacer"></span>
  <a mat-button href="https://drive.google.com/file/d/1nUm7RHttCDWZnckPuVOsMNaG9vMfdr5j/view?usp=sharing"
  target="_blank" class="secondary-color">Watch Demo</a>

  <span class="example-spacer"></span>

    <mat-icon>favorite</mat-icon>

</mat-toolbar>

